.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.btn-survey {
  justify-content: center;
}

.dropdown-bar {
  width: 200px;
}

.input-question {
  margin-bottom: 10px;
}

.question-container {
  width: 500px;
}

.btn-group {
  margin-bottom: 10px;
}
